body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.formDiv {
  text-align: left;
}
.formDiv form label {
  font-size: 15px;
}
.rateDiv {
  padding: 3px;
  border-radius: 5px;
  margin-top: 6px !important;
  background: #45596d;
}
